.header {
    font-family:'Times New Roman', Times, serif;
    color: #2b1f05;
}

.box {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)

    width: 15em;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

.box:hover{
    background-color:#f5bcbcf1;
}



.footer{
    font-family:'Times New Roman', Times, serif;
    color: #2b1f05;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    
}